<ion-card>
  <ion-card-header>
    <ion-item lines="full">
      <ion-icon name="briefcase" slot="start" color="primary" size="large"></ion-icon>
      <ion-text>
        [FW].FastWork Office 
        <br>
        <small>Cập nhật 5 phút trước</small>
      </ion-text>
      <ion-icon name="ellipsis-horizontal" slot="end"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row class="title-date-time">
        <ion-col>
          <ion-text color="dark">
            Ngày tạo:
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="date-time-careate-work">
            20/01/2020, 19:30
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="number-member">
        <ion-col>
          <ion-label color="dark">Thành viên:</ion-label>
          <div class="member">
            <ion-avatar class="member-root">
              <img src="./../../../assets/imgs/avatar.png" alt="">
            </ion-avatar>
            <ion-avatar class="member-other">
              <img src="./../../../assets/imgs/avatar.png" alt="">
            </ion-avatar>
            <ion-avatar class="member-other">
              <img src="./../../../assets/imgs/avatar.png" alt="">
            </ion-avatar>
            <ion-avatar class="member-other">
              <img src="./../../../assets/imgs/avatar.png" alt="">
            </ion-avatar>
            <ion-avatar class="member-other">
              <img src="./../../../assets/imgs/avatar.png" alt="">
            </ion-avatar>
            <div class="total-number">
              <ion-label>12+</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="progress-task">
        <ion-col>
          <ion-label color="dark">Tiến trình: 30%</ion-label>
          <div class="overlay-progress">
            <div class="progress-value"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="status-task-project">
        <ion-col>
          <div class="status-project">
            <ion-icon name="bulb-outline" size="large" color="medium"></ion-icon>
            <div class="content-status">
              <ion-label color="dark">Trạng thái</ion-label>
              <ion-text color="dark">Bình thường</ion-text>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="task-project">
            <ion-icon name="library-outline" size="large" color="medium"></ion-icon>
            <div class="content-task">
              <ion-label color="dark">Công việc</ion-label>
              <ion-text color="dark">30/100</ion-text>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="manager-accept-request">
      <ion-label color="dark">Quản trị: </ion-label>

      <!-- <div class="manager">
        <ion-avatar>
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <ion-text color="dark">Đặng Quang Vũ</ion-text>
      </div> -->
  
      <div class="member">
        <ion-avatar class="member-root">
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <ion-avatar class="member-other">
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <ion-avatar class="member-other">
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <div class="total-number">
          <ion-label>3+</ion-label>
        </div>
      </div>

    </div>

  </ion-card-content>
</ion-card>