ion-header{
  ion-title{
    font-family: "Open Sans SemiBold";
  }
}

.icon-required{
  font-size: 8px;
  margin-top: -6px;
  margin-left: 2px;
}

.information-application-form{
  background-color: #F7E3C4;
  margin: 10px;
  border-radius: 5px;
  ion-grid{
    padding: 0px;
    ion-col{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      font-family: "Open Sans SemiBold";
    }
  }
}

.btn-add-af{
  ion-text{
    margin-right: 15px;
    font-family: "Open Sans Regular";
    font-size: 15px;
  }
}

.design-form{
  ion-list{
    padding: 0px;
    ion-list-header{
      font-family: "Open Sans SemiBold";
      font-size: 16px;
    }
    ion-item{
      font-size: 15px;
    }
  }
}

.not-application-form{
  text-align: center;
  font-style: italic;
}

ion-footer{
  ion-toolbar{
    --padding-bottom: 10px;
  }
  ion-button{
    text-transform: initial;
    font-family: "Open Sans Bold";
  }
}


.ripple-parent {
  position: relative;
  overflow: hidden;
  padding: 3px 6px;
  border-radius: 3px;
}