<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ tieuDeDon }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="information-application-form" [ngSwitch]="loaiDon">
    <ion-grid *ngSwitchCase="1">
      <ion-row>
        <ion-col>
          <ion-label color="quince">Tổng phép</ion-label>
          <ion-text color="mandarin">10</ion-text>
        </ion-col>
        <ion-col>
          <ion-label color="quince">Đã nghỉ</ion-label>
          <ion-text color="mandarin">3</ion-text>
        </ion-col>
        <ion-col>
          <ion-label color="quince">Còn lại</ion-label>
          <ion-text color="mandarin">7</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="2">
      <ion-row>
        <ion-col>
          <ion-label color="quince">Tính công</ion-label>
          <ion-text color="mandarin">Không</ion-text>
        </ion-col>
        <ion-col>
          <ion-label color="quince">Phạt tiền</ion-label>
          <ion-text color="mandarin">Không</ion-text>
        </ion-col>
        <ion-col>
          <ion-label color="quince">Yêu cầu chốt</ion-label>
          <ion-text color="mandarin">Không</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Nội dung đơn -->
  <div class="design-form">
    <ion-list lines="full" mode="md">
      <ion-list-header color="light" class="btn-add-af">
        <ion-label>Thông tin đơn</ion-label>
        <ion-text color="primary" class="">
          <div class="ion-activatable ripple-parent" (click)="onCreateAF()">
            Thêm
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-text>
      </ion-list-header>

      <ion-item-sliding #itemSliding *ngFor="let don of dataDonTu; let viTri = index">
        <ion-item>
          <content-application-form 
            [loaiDon]="loaiDon" 
            [data]="don"
            [showDescription]="false"  
          ></content-application-form>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="onEditAF(don, itemSliding)">Sửa</ion-item-option>
          <ion-item-option color="danger" (click)="onDeleteAF(viTri, itemSliding)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item *ngIf="dataDonTu.length == 0">
        <ion-label class="not-application-form">
          Nội  đơn dung trống !
        </ion-label>
      </ion-item>

    </ion-list>
  </div>

  <!-- Phần chung: nội dung, người duyệt, mô tả -->
  <div class="design-form">
    <ion-list lines="full" mode="md">
      <ion-list-header color="light">
        Người duyệt <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item *ngFor="let item of nguoiDuyet">
        <ion-label>{{ item.name }} ({{ item.id }})</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>

      <ion-list-header color="light">Người thông báo</ion-list-header>
      <ion-item button="true" details="none">
        <ion-label color="placeholder">Không có người nhận thông báo</ion-label>
      </ion-item>
    
      <ion-list-header color="light">Mô tả</ion-list-header>
      <ion-item>
        <ion-textarea placeholder="Nội dung"></ion-textarea>
        <ion-icon name="mic-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button color="tealgreen" expand="block" (click)="onSubmitForm()" [disabled]="dataDonTu.length == 0">
      Gửi đơn
    </ion-button>
  </ion-toolbar>
</ion-footer>
  


