<ion-header>
  <ion-toolbar>
    <ion-title>Đơn từ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="employee">
      <ion-avatar>
        <img src="./../../../assets/imgs/person-male.png" alt="">
      </ion-avatar>
      <div class="infor-employee">
        <ion-text color="dark">
          Nguyen Van Hung
        </ion-text>
        <ion-label>
          <p>
            <i class="fas fa-map-marker-alt" style="color: #0984e3;"></i>
            Ha Noi
          </p>
          <p>
            <i class="far fa-calendar-alt" style="color: #95afc0;"></i>
            09/01/2020
          </p>
          <p>
            <i class="fas fa-envelope" style="color: #6ab04c;"></i>
            fw@fw.ek.com
          </p>
        </ion-label>
      </div>
    </div>
    <div class="content-application-from">
      
    </div>
  </ion-card>
</ion-content>
