ion-header{
  ion-title{
    font-weight: bold;
  }
}

ion-list{
  ion-item{
    padding: 7px 0px;
    ion-thumbnail{
      min-width: 40px;
      min-height: 40px;
      max-width: 40px;
      max-height: 40px;
    }

    .name-size-file{
      margin-left: 20px;
      .infromation-file{
        display: flex;
        flex-direction: column;
        ion-text{
          margin-top: 3px;
          font-size: 13px;
        }
      }
      
    }
  }
}

.list-ios{
  margin-top: 10px;
}