<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Tệp đính kèm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/microsoft_word.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>
          Microsoft Word.docx
        </ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Tran Thi Anh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/microsoft_powerpoint.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Microsoft Powpoint.pptx</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            320 Kb, 20/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/microsoft_excel.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Microsoft Excel.exls</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/icon_pdf.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Microsoft Office PDF.pdf</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/icon_winrar.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Winrar 789.zip</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/icons_paste_as_text.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Text Document.txt</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

    <ion-item button="true" detail="false">
      <ion-thumbnail>
        <img src="./../../../assets/imgs/icon_gallery.png" alt="">
      </ion-thumbnail>
      <div class="name-size-file">
        <ion-label>Demo_Project.jpg</ion-label>
        <div class="infromation-file">
          <ion-text color="medium">
            Người đăng tải: Mrs. Thanh
          </ion-text>
          <ion-text color="medium">
            12 Mb, 22/08/2020
          </ion-text>
        </div>
      </div>
      <ion-icon name="ellipsis-horizontal" slot="end" size="small"></ion-icon>
    </ion-item>

  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
