<ng-container [ngSwitch]="loaiDon">
  <!-- -----------1----------------- -->
  <div class="content-application-form" *ngSwitchCase="1">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ data.caChon.ten }} - {{ data.ca.ten }} </ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-text>{{ data.lyDo.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="card-outline"></ion-icon>
        <ion-text>{{ data.huongLuong ? 'Hưởng lương' : 'Không lương' }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Anh duyệt cho em với </ion-text>
      </p>
    </div>
  </div> 
  <!-- -----------2----------------- -->
  <div class="content-application-form" *ngSwitchCase="2">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ data.caDuocPhan.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-text>{{ formatDate.formatTime(data.batDau) }} - {{ formatDate.formatTime(data.ketThuc) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-text>{{ data.lyDo.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div> 
  
  <!-- -----------3----------------- -->
  <div class="content-application-form" *ngSwitchCase="3">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ data.caTang.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div> 

  <!-- -----------4----------------- -->
  <div class="content-application-form" *ngSwitchCase="4">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ data.caChon.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-text>
          {{ formatDate.formatTime(data.batDau) }} - {{ formatDate.formatTime(data.ketThuc) }}
        </ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="document-text-outline"></ion-icon>
        <ion-text>
          {{ data.ghiChu.length > 0 ? data.ghiChu : 'Không ghi chú !' }}
        </ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div>

  <!-- -----------5----------------- -->
  <div class="content-application-form" *ngSwitchCase="5">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ data.caChon.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="location-outline"></ion-icon>
        <ion-text>{{ data.diaDiem }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div>

  <!-- -----------6----------------- -->
  <div class="content-application-form" *ngSwitchCase="6">
    <div class="content-request">
      <p>
        <ion-icon name="hourglass-outline"></ion-icon>
        <ion-text>{{ formatDate.formatTime(data.diMuon) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="speedometer-outline"></ion-icon>
        <ion-text>{{ formatDate.formatTime(data.veSom) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>
          {{ formatDate.formatDate(data.tuNgay) }} - {{ formatDate.formatDate(data.denNgay) }}  
        </ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-text>{{ data.lyDo.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div>

  <!-- -----------7----------------- -->
  <div class="content-application-form" *ngSwitchCase="7">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ data.ngayCanDoi }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="data.kieuDoi == 'nk'">
      <p>
        <ion-icon name="sync-outline"></ion-icon>
        <ion-text>{{ data.ngayDoi }}</ion-text>
      </p>
    </div>
    <br>
    <div class="content-request">
      <p>
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-text>{{ data.caCanDoi.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="sync-outline"></ion-icon>
        <ion-text>{{ data.caLam.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="data.kieuDoi == 'nk'">
      <p>
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-text>{{ data.nguoiDoi }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div>

  <!-- -----------8----------------- -->
  <div class="content-application-form" *ngSwitchCase="8">
    <div class="content-request">
      <p>
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-text>{{ formatDate.formatDate(data.ngay) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="time-outline"></ion-icon>
        <ion-text>{{ formatDate.formatTime(data.gio) }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="git-branch-outline"></ion-icon>
        <ion-text>{{ data.hoatDong.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="hourglass-outline"></ion-icon>
        <ion-text>{{ data.caChon.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request">
      <p>
        <ion-icon name="layers-outline"></ion-icon>
        <ion-text>{{ data.lyDo.ten }}</ion-text>
      </p>
    </div>
    <div class="content-request" *ngIf="showDesc">
      <p>
        <ion-icon name="reader-outline"></ion-icon>
        <ion-text color="medium">Không có mô tả</ion-text>
      </p>
    </div>
  </div>
</ng-container>