<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="details-work">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Chi tiết</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comment">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Trao đổi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attachment">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Tệp</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="git-branch"></ion-icon>
      <ion-label>Hoạt động</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>