<ion-card>
  <ion-card-header>
    <ion-grid class="task-project-manager">
      <ion-row>
        <ion-col size="12" size-md="7">
          <div class="employee">
            <ion-avatar>
              <img src="./../../../assets/imgs/avatar_female.png" alt="">
            </ion-avatar>
            <div class="infor-employee">
              <ion-text color="dark">
                Chris Muller, Develop Custommer lo
              </ion-text>
              <ion-label>
                <p>
                  <i class="fas fa-map-marker-alt" style="color: #0984e3;"></i>
                  Ha Noi
                </p>
                <p>
                  <i class="fas fa-envelope" style="color: #6ab04c;"></i>
                  fw@fw.ek.com
                </p>
                <p>
                  <i class="fas fa-briefcase" style="color: #7158e2;"></i>
                  Nguyễn Tiến Thành
                </p>
                <p>
                  <i class="fas fa-star fa-pulse" style="color: #f9ca24;"></i>
                  5
                </p>
              </ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col class="action-project" size="12" size-md="5">
          <div class="icon-action size-action">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="icon-action size-action">
            <i class="fas fa-clone"></i>
          </div>
          <div class="icon-action size-action">
            <i class="fas fa-folder-minus"></i>
          </div>
          <div class="create-date size-action">
            <span>20/02/2020</span>
          </div>
          <div class="status-project size-action">
            <span>Complete</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    <div class="description-project">
      <ion-text>
        Tempora suscipit modi deleniti vel soluta, ratione, necessitatibus hic vitae, ex temporibus nesciunt! Facere quaerat et fugiat, 
        recusandae repudiandae quam. Dicta, error.
      </ion-text>
    </div>
    <div class="time-process">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md="6">
            <div></div>
          </ion-col>
          <ion-col size="12" size-md="6">

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>