<ion-card>
  <ion-card-header>
    <ion-grid class="task-project-manager">
      <ion-row>
        <ion-col size="12" size-md="7">
          <div class="employee">
            <ion-avatar>
              <img src="./../../../assets/imgs/avatar_female.png" alt="">
            </ion-avatar>
            <div class="infor-employee">
              <ion-text color="dark">
                Chris Muller
              </ion-text>
              <ion-label>
                Hôm qua <i class="fas fa-circle"></i> 11:19 PM
              </ion-label>
            </div>
          </div>
        </ion-col>
        <ion-col class="action-project" size="12" size-md="5">
          <div class="icon-action size-action">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="icon-action size-action">
            <i class="fas fa-clone"></i>
          </div>
          <div class="icon-action size-action">
            <i class="fas fa-folder-minus"></i>
          </div>
          <div class="create-date size-action">
            <span>20/02/2020</span>
          </div>
          <div class="status-project size-action">
            <span>Complete</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>

  <ion-card-content>
    
  </ion-card-content>
</ion-card>