<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ data.titleAF }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-application-form">
    <ion-avatar>
      <img src="./../../../assets/imgs/person-male.png" alt="">
    </ion-avatar>
    <div class="title-state-application-form">
      <div class="title-application-form">
        <ion-text>
          Nguyễn Văn Hùng
        </ion-text>
        <ion-label color="dark">
          <ng-container [ngSwitch]="data.state">
            <i class="far fa-check-circle" *ngSwitchCase="1"></i>
            <i class="fas fa-minus-circle" *ngSwitchCase="2"></i>
            <i class="far fa-times-circle" *ngSwitchCase="3"></i>
          </ng-container>
          <ng-container [ngSwitch]="data.state">
            <span *ngSwitchCase="1">Đồng ý</span>
            <span *ngSwitchCase="2">Chờ duyệt</span>
            <span *ngSwitchCase="3">Bị hủy</span>
          </ng-container>
        </ion-label>
      </div>
    </div>
  </div>

  <div class="content-application-form design-form">
    <ion-list lines="full" mode="md">
      <ion-list-header color="light">
        <ion-label>Ngày nộp đơn</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          20/02/2020 - 07:30
        </ion-label>
      </ion-item>

      <ion-list-header color="light">
        <ion-label>Ngày phê duyệt</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label *ngIf="data.state != 2 else notRequest">
          20/02/2020 - 08:30
        </ion-label>
        <ng-template #notRequest>
          <ion-label>Đang chờ...</ion-label>
        </ng-template>
        
      </ion-item>

      <ion-list-header color="light" class="btn-add-af">
        <ion-label>Thông tin đơn</ion-label>
        <ion-text color="primary" *ngIf="data.state == 2 && !manager">
          <div class="ion-activatable ripple-parent" (click)="onAddInformation()">
            Thêm
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-text>
      </ion-list-header>
      <ion-item-sliding #itemSliding [disabled]="data.state != 2">
        <ion-item>
          <content-application-form 
            [loaiDon]="2" 
            [data]="data"
            [showDescription]="false"  
          ></content-application-form>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="onEditAF(data, itemSliding)">Sửa</ion-item-option>
          <ion-item-option color="danger" (click)="onDeleteAF(vitri = 1, itemSliding)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding #itemSliding [disabled]="data.state != 2">
        <ion-item>
          <content-application-form 
            [loaiDon]="2" 
            [data]="data"
            [showDescription]="false"  
          ></content-application-form>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="onEditAF(data, itemSliding)">Sửa</ion-item-option>
          <ion-item-option color="danger" (click)="onDeleteAF(vitri = 1, itemSliding)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding #itemSliding [disabled]="data.state != 2">
        <ion-item>
          <content-application-form 
            [loaiDon]="2" 
            [data]="data"
            [showDescription]="false"  
          ></content-application-form>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="onEditAF(data, itemSliding)">Sửa</ion-item-option>
          <ion-item-option color="danger" (click)="onDeleteAF(vitri = 1, itemSliding)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list-header color="light" class="btn-add-af">
        <ion-label>
          Người duyệt
        </ion-label>
        <ion-text color="primary" *ngIf="data.state == 2 && !manager">
          <div class="ion-activatable ripple-parent" (click)="onEditApprover()">
            Sửa
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-text>
      </ion-list-header>

      <ion-item-sliding #managerApprovers [disabled]="data.state !== 2" *ngFor="let manager of managerApprovers; let viTri = index">
        <ion-item>
          <ion-text>
            <div class="manager-accept">
              <ion-avatar>
                <img [src]="manager.anh" alt="">
              </ion-avatar>
              <span>
                {{ manager.ten }}
              </span>
            </div>
          </ion-text>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="onDeleteManagerApprovers(viTri, managerApprovers)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list-header color="light">
        <ion-label>
          Người phê duyệt
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-text>
          <div class="manager-accept" *ngIf="data.manager != null else notResult">
            <ion-avatar>
              <img [src]="data.manager.avatar" alt="">
            </ion-avatar>
            <span>
              {{ data.manager.name }}
            </span>
          </div>
          <ng-template #notResult>
            Đang chờ...
          </ng-template>
        </ion-text>
      </ion-item>

      <ion-list-header color="light">
        <ion-label>
          Người nhận thông báo
        </ion-label>
      </ion-list-header>
      <ion-item [button]="data.state == 2" details="false">
        <ion-label>
          Nguyễn Văn Hùng, Nguyễn Tiến Thành, Nguyễn Văn Tráng
        </ion-label>
        <ion-badge slot="end" color="warning">+20</ion-badge>
      </ion-item>

    </ion-list>
  </div>

  <div class="comments-application-form design-form">
    <ion-list mode="md">
      <ion-list-header color="light">
        <ion-label>
          Bình luận
        </ion-label>
      </ion-list-header>
    </ion-list>

    <div class="send-comment">
      <ion-textarea rows="2" #inputText (ionFocus)="onDisabledButtonAction($event)" placeholder="Nhập nội dung ..." [(ngModel)]="contentComment"></ion-textarea>
      <div class="action-btn">
        <div class="ion-activatable ripple-parent icon-send">
          <i class="fas fa-paper-plane fa-lg" (click)="onSendComments()"></i>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>

    <!-- list comments -->
    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs/avatar_female.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
            expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
          </ion-text>
        </div>
      </div>
    </div>

    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs//person_.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </ion-text>
        </div>
      </div>
    </div>

    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs/microsoft_powerpoint.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
            expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
          </ion-text>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer *ngIf="manager && showKeyboard == false">
  <ion-toolbar>
    <ion-grid class="btn-accept">
      <ion-row>
        <ion-col *ngIf="data.state == 2"> 
          <ion-button expand="block" color="tealgreen" mode="ios">
            Đồng ý
          </ion-button>
        </ion-col>
        <ion-col *ngIf="data.state == 2">
          <ion-button expand="block" color="danger" mode="ios">
            Từ chối
          </ion-button>
        </ion-col>
        <ion-col *ngIf="data.state == 1 || data.state == 3">
          <ion-button expand="block" color="warning" mode="ios">
            Hủy bỏ
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
