<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ titleAF }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-application-form">
    <ion-avatar>
      <img [src]="data.createdBy.avatar" alt="">
    </ion-avatar>
    <div class="title-state-application-form">
      <div class="title-application-form">
        <ion-text>
          {{ data.createdBy.name }}
        </ion-text>
        <ion-label color="dark">
          <ng-container [ngSwitch]="data.status">
            <i class="far fa-check-circle" *ngSwitchCase="'Đã duyệt'"></i>
            <i class="fas fa-minus-circle" *ngSwitchCase="'Chờ duyệt'"></i>
            <i class="far fa-times-circle" *ngSwitchCase="'Không duyệt'"></i>
          </ng-container>
          <ng-container [ngSwitch]="data.status">
            <span *ngSwitchCase="'Đã duyệt'">Đã duyệt</span>
            <span *ngSwitchCase="'Chờ duyệt'">Chờ duyệt</span>
            <span *ngSwitchCase="'Không duyệt'">Không duyệt</span>
          </ng-container>
        </ion-label>
      </div>
    </div>
  </div>

  <div class="content-application-form design-form">
    <ion-list lines="full" mode="md">
      <ion-list-header color="light">
        <ion-label>Ngày nộp đơn</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>
          {{ formatDate.formatDate(data.createdDate) }} - {{ formatDate.formatTime(data.createdDate) }}
        </ion-label>
      </ion-item>

      <ion-list-header color="light">
        <ion-label>Ngày phê duyệt</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label *ngIf="data.status != 'Chờ duyệt' else notRequest">
          {{ formatDate.formatDate(data.approvedDate) }} - {{ formatDate.formatTime(data.approvedDate) }}
        </ion-label>
        <ng-template #notRequest>
          <ion-label>Đang chờ...</ion-label>
        </ng-template>
        
      </ion-item>

      <ion-list-header color="light" class="btn-add-af">
        <ion-label>Thông tin đơn</ion-label>
        <ion-text color="primary" *ngIf="data.status == 'Chờ duyệt' && !manager">
          <div class="ion-activatable ripple-parent" (click)="onAddInformation()">
            Thêm
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-text>
      </ion-list-header>
      <!-- <ion-item-sliding #itemSliding *ngFor="let donTu of data.contentAF; let viTri = index" [disabled]="data.status != 2">
        <ion-item>
          <content-application-form 
            [loaiDon]="data.typeAF"
            [data]="donTu"
            [showDescription]="false"  
          ></content-application-form>
        </ion-item>
      
        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="onEditAF(donTu, itemSliding)">Sửa</ion-item-option>
          <ion-item-option color="danger" (click)="onDeleteAF(viTri, itemSliding)">Xóa</ion-item-option>
        </ion-item-options>
      </ion-item-sliding> -->

      <ion-list-header color="light" class="btn-add-af">
        <ion-label>
          Người duyệt
        </ion-label>
        <ion-text color="primary" *ngIf="data.status == 'Chờ duyệt' && !manager">
          <div class="ion-activatable ripple-parent" (click)="onEditApprover()">
            Sửa
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-text>
      </ion-list-header>

      <ion-item-sliding #managerApprovers [disabled]="data.status !== 'Chờ duyệt'" *ngFor="let userApprover of data.approvers; let viTri = index">
        <ion-item>
          <ion-text>
            <div class="manager-accept">
              <!-- <ion-avatar>
                <img [src]="userApprover.anh" alt="">
              </ion-avatar> -->
              <span>
                {{ userApprover.name }}
              </span>
            </div>
          </ion-text>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="onDeleteManagerApprovers(viTri, managerApprovers)">
            Xóa
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list-header color="light">
        <ion-label>
          Người phê duyệt
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-text>
          <div class="manager-accept" *ngIf="data.status !== 'Chờ duyệt'; else notRequest">
            <!-- <ion-avatar>
              <img [src]="data.approvedBy.avatar" alt="">
            </ion-avatar> -->
            <span>
              {{ data.approvedBy.name }}
            </span>
          </div>
          <ng-template #notResult>
            Đang chờ...
          </ng-template>
        </ion-text>
      </ion-item>

      <ion-list-header color="light">
        <ion-label>
          Người nhận thông báo
        </ion-label>
      </ion-list-header>
      <ion-item [button]="data.status == 'Chờ duyệt'" details="false">
        <ion-label *ngIf="data.recipients.length > 0; else notPeople">
          <span *ngFor="let people of data.recipients; let viTri = index">
            {{ people.name }},
          </span>
        </ion-label>
        <ng-template #notPeople>
          <ion-label style="font-style: italic;">
            Không có nhân viên nào được chọn !
          </ion-label>
        </ng-template>
        <ion-badge *ngIf="data.recipients.length > 0" slot="end" color="warning">{{ data.recipients.length }}</ion-badge>
      </ion-item>

    </ion-list>
  </div>

  <div class="comments-application-form design-form">
    <ion-list mode="md">
      <ion-list-header color="light">
        <ion-label>
          Bình luận
        </ion-label>
      </ion-list-header>
    </ion-list>

    <div class="send-comment">
      <ion-textarea rows="2" #inputText (ionFocus)="onDisabledButtonAction($event)" placeholder="Nhập nội dung ..." [(ngModel)]="contentComment"></ion-textarea>
      <div class="action-btn">
        <div class="ion-activatable ripple-parent icon-send">
          <i class="fas fa-paper-plane fa-lg" (click)="onSendComments()"></i>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </div>

    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs/avatar_female.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
            expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
          </ion-text>
        </div>
      </div>
    </div>

    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs//person_.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
          </ion-text>
        </div>
      </div>
    </div>

    <div class="comments">
      <ion-avatar>
        <img src="./../../../assets/imgs/microsoft_powerpoint.png" alt="">
      </ion-avatar>
      <div class="content">
        <div class="header-content">
          <ion-text color="dark">Nguyễn Ngọc Ánh</ion-text>
          <i class="fas fa-circle"></i>
          <span color="dark"> 1 Day ago </span>
        </div>
        <div class="main-content">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
            expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
          </ion-text>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<!-- <ion-footer *ngIf="manager && showKeyboard == false">
  <ion-toolbar>
    <ion-grid class="btn-accept">
      <ion-row>
        <ion-col *ngIf="data.status == 2"> 
          <ion-button expand="block" color="tealgreen" mode="ios">
            Đồng ý
          </ion-button>
        </ion-col>
        <ion-col *ngIf="data.status == 2">
          <ion-button expand="block" color="danger" mode="ios">
            Từ chối
          </ion-button>
        </ion-col>
        <ion-col *ngIf="data.status == 1 || data.status == 3">
          <ion-button expand="block" color="warning" mode="ios">
            Hủy bỏ
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->
