<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" icon="chevron-back" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-filter">
      <ion-button (click)="onShowFilter()">
        <ion-label color="dark">Bộ lọc</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ manager ? 'Tìm kiếm' : 'Lịch sử' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sort-by">
    <ion-chip (click)="chonLoaiDon()">
      <ion-label>{{ loaiDon.ten }}</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-chip>
    <ng-container *ngFor="let item of trangThais">
      <ion-chip [class]="choosedStatus == item.ma ? 'item-actived': '' ">
        <ion-label (click)="onModifyStatus(item.ma)">{{ item.ten }}</ion-label>
      </ion-chip>
    </ng-container>
  </div>

  <div class="content">
    <ng-container *ngIf="dataDon.length > 0">
      <application-form 
      *ngFor="let item of dataDon"
      [data]="item" 
      [manager]="manager"
      [showDescription]="true" 
      (click)="onDetailsAF(manager, item)"
      ></application-form>
    </ng-container>

    <div class="not-application-form" *ngIf="dataDon.length == 0">
      <ion-label>Không có đơn nào phù hợp !</ion-label>
    </div>
    
  </div>
</ion-content>
