<ion-card>
  <ion-card-header>
    <ion-item lines="full">
      <ion-avatar slot="start">
        <img src="./../../../assets/imgs/avatar.png">
      </ion-avatar>
      <ion-text class="name-user-request">
        <strong>Nguyễn Văn Hùng</strong>
        <ion-label color="strompetrel">fw@vanhung</ion-label>
      </ion-text>
      <ion-icon name="ellipsis-horizontal" slot="end"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <div class="content-request">
      <ion-text color="dark" class="content-one">
        Xin nghỉ ca sáng, 20/02/2020 lý do : Nghỉ phép năm.
      </ion-text>
      <ion-text color="dark" class="content-two">
        Anh duyệt cho em đơn.
      </ion-text>
    </div>

    <div class="status-document">
      <div class="content-status-document">
        Đã duyệt
      </div>
    </div>

    <div class="manager-accept-request">
      <ion-label color="dark">Quản trị: </ion-label>
      <div class="manager">
        <ion-avatar>
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <ion-text color="dark">Đặng Quang Vũ</ion-text>
      </div>
    </div>
  </ion-card-content>

</ion-card>