ion-card{
  margin: 10px 0px 0px;

  ion-card-header{
    padding: 10px;

    .title-header-time{
      display: flex;
      flex-direction: column;
      width: 100%;

      ion-text{
        font-weight: bold;
        font-size: 19px;
      }

      span{
        font-size: small;
        color: #7f8fa6;
        font-weight: bold;
        margin-top: 5px;
      }

    }
  }
}