ion-card{
  ion-card-header{
    padding: 10px;
    ion-text{
      font-weight: bold;
      font-size: large;
    }
  }

  ion-card-content{
    padding-bottom: 5px;

    .time-expired{
      text-transform: uppercase;
      background-color: #F33333;
      color: #ffffff;
      text-align: center;
      border-radius: 6px;
      font-size: 15px;
      padding: 6px 8px;
    }

    .work-for-time{
      margin-top: 10px;
      padding-left: 7px;
      font-size: 15px;
      color: #17B799;
      font-style: italic;
      text-decoration: underline;
      text-transform: uppercase;
    }

    ion-grid{
      .title-date-time{
        ion-col{
          ion-text{
            font-size: 15px;
            font-weight: bold;
          }
        }
      }
  
      .date-time-start{
        background-color: #E7F3E8;
        color: #14AA24;
        padding: 8px 10px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 6px;
      }
  
      .date-time-end{
        background-color: #F1E5E5;
        color: #DD5A47;
        padding: 8px 10px;
        font-weight: bold;
        font-size: 16px;
        border-radius: 6px;
      }
    }

    .manager-accept-request{
      margin-top: 5px;
      border-top: 1px solid gainsboro;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      ion-label{
        font-weight: bold;
        font-size: 16px;
      }
  
      .manager{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        ion-avatar{
          width: 25px;
          height: 25px;
          margin: 5px;
        }
      }
    }
  }
}