<ion-card>
  <ion-card-header>
    <ion-item lines="full">
      <ion-icon name="close-circle-sharp" color="danger" slot="start" size="large"></ion-icon>
      <ion-text>
        [FW.CORE] Dựng hệ thống test với 4 cụm MongoDB
      </ion-text>
      <ion-icon name="ellipsis-horizontal" slot="end"></ion-icon>
    </ion-item>
  </ion-card-header>
  <ion-card-content>
    <div class="time-expired">
      Quá hạn 10 ngày
    </div>
    
    <div class="work-for-time">
      FW.2020.Q3
    </div>

    <ion-grid>
      <ion-row class="title-date-time" >
        <ion-col>
          <ion-text color="dark">
            Ngày giao:
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="dark">
            Hạn cuối:
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="date-time-start">
            06/05/2020, 10:15
          </div>
        </ion-col>
        <ion-col>
          <div class="date-time-end">
            06/06/2020, 10:15
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="manager-accept-request">
      <ion-label color="dark">Quản trị: </ion-label>
      <div class="manager">
        <ion-avatar>
          <img src="./../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <ion-text color="dark">Đặng Quang Vũ</ion-text>
      </div>
    </div>
    
  </ion-card-content>
</ion-card>