<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-label color="dark">
        Lịch sử hoạt động
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal" slot="icon-only" size="small" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="activity">
    <div class="days-activity">
      <span>
        Thứ 6, 22/06/2020
      </span>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident? Ducimus maiores debitis nulla corporis optio voluptatem, dicta fuga
        </span>
      </div>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident? Ducimus maiores debitis nulla corporis optio voluptatem, dicta fuga
        </span>
      </div>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor
        </span>
      </div>
    </div>
  </div>

  <div class="activity">
    <div class="days-activity">
      <span>
        Thứ 5, 21/06/2020
      </span>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident? Ducimus maiores debitis nulla corporis optio voluptatem, dicta fuga
        </span>
      </div>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, provident? Ducimus maiores debitis nulla corporis optio voluptatem, dicta fuga
        </span>
      </div>
    </div>

    <div class="content-activity">
      <div class="time">
        <span>08:42</span>
      </div>
      <div class="space-time-content">
        <i class="fas fa-dot-circle"></i>
        <div class="lines-space"></div>
      </div>
      <div class="content-primary">
        <span>
          Lorem ipsum dolor
        </span>
      </div>
    </div>
  </div>

</ion-content>
