<ion-header>
  <ion-toolbar>
    <ion-title color="dark">
      Comments
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal" slot="icon-only" size="small" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="comments">
    <div class="employee">
      <ion-avatar>
        <img src="./../../../assets/imgs/avatar_female.png" alt="">
      </ion-avatar>
      <div class="name-employee">
        <ion-text color="dark">
          Chris Muller
        </ion-text>
        <ion-label>
          Hôm qua <i class="fas fa-circle"></i> 11:19 PM
        </ion-label>
      </div>
    </div>
    <div class="content-comment">
      <ion-text>
        With resrpect, i must disagree with Mr.Zinsser. 
        We all know the most part of important part of any article 
        is the title.Without a compelleing title, your reader won't 
        even get to the first sentence.
      </ion-text>
    </div>
    
    <div class="details-comment">
      <div class="header-comment">
        <div class="number-comment">
          <i class="fas fa-comments"></i>
          <span>25</span>
        </div>
        <div class="number-favorite">
          <i class="fas fa-heart"></i>
          <span>30</span>
        </div>
      </div>
      <div class="reply-comment">

        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/anonymous_mask.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Anderson</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 1 Day ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
                expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/anonymous_mask.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Anderson</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 1 Day ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
                expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/person-male.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Trang</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 1 Day ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet iciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

      </div>

      <!-- send comment -->
      <div class="send-comment">
        <ion-textarea placeholder="Enter text"></ion-textarea>
        <div class="action-btn">
          <i class="fas fa-paperclip fa-lg"></i>
          <i class="fas fa-paper-plane fa-lg"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="space-card"></div>

  <div class="comments">
    <div class="employee">
      <ion-avatar>
        <img src="./../../../assets/imgs/avatar.png" alt="">
      </ion-avatar>
      <div class="name-employee">
        <ion-text color="dark">
          Tony Thanh
        </ion-text>
        <ion-label>
          Hôm qua <i class="fas fa-circle"></i> 12:30 AM
        </ion-label>
      </div>
    </div>
    <div class="content-comment">
      <ion-text>
        With resrpect, i must disagree with Mr.Zinsser. 
        We all know the most part of important part of any article 
        is the title.Without a compelleing title, your reader won't 
        even get to the first sentence.
      </ion-text>
    </div>
    
    <div class="details-comment">
      <div class="header-comment">
        <div class="number-comment">
          <i class="fas fa-comments"></i>
          <span>25</span>
        </div>
        <div class="number-favorite">
          <i class="fas fa-heart"></i>
          <span>30</span>
        </div>
      </div>
      <div class="reply-comment">
        
        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/anonymous_mask.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Anderson</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 30 minutes ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
                expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/anonymous_mask.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Anderson</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 1 Day ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Debitis deleniti blanditiis et libero reprehenderit illum est eius sed nulla,
                expedita esse voluptatum temporibus at perspiciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

        <div class="content-reply">
          <ion-avatar>
            <img src="./../../../assets/imgs/person-male.png" alt="">
          </ion-avatar>
          <div class="context">
            <div class="name-time-reply">
              <div class="name-time">
                <ion-text color="dark">Mr.Trang</ion-text>
                <i class="fas fa-circle"></i>
                <span color="dark"> 1 Day ago </span>
              </div>
              <div class="btn-reply">
                <div class="ion-activatable ripple-parent">
                  Reply
                  <ion-ripple-effect></ion-ripple-effect>
                </div>
              </div>
            </div>
            <div class="context-reply">
              <ion-text>
                Lorem ipsum dolor sit amet iciatis iste similique corporis, ea quo?
              </ion-text>
            </div>
          </div>
        </div>

      </div>

      <!-- send comment -->
      <div class="send-comment">
        <ion-textarea placeholder="Enter text"></ion-textarea>
        <div class="action-btn">
          <i class="fas fa-paperclip fa-lg"></i>
          <i class="fas fa-paper-plane fa-lg"></i>
        </div>
      </div>
    </div>
  </div>

</ion-content>