ion-card{
  margin: 10px 0px;
  
  .content-one{
    display: flex;

    .avatar{
      width: 15%;
      margin: 10px 5px 10px 10px;
      ion-thumbnail{
        --size: 13vw;
        --border-radius: 5px;
      }
    }

    .content{
      width: 85%;
      margin: 10px 10px 10px 5px;
      
      ion-label{
        font-weight: bold;
        font-size: 17px;
      }

      .more-information{
        p{
          display: inline-block;
          margin: 6px 25px 0px 0px;
          font-size: 13px;
        }
      }

      .btn-action{
        display: flex;
        margin-top: 10px;
        
        .btn-report{
          padding: 8px 10px;
          border-radius: 5px;
          background-color: #C9F7F5;
          color: #10ac84;
          text-transform: uppercase;
          font-weight: bold;
          margin-right: 5px;
          font-size: 11px;
        }

        .btn-new-task{
          padding: 8px 10px;
          border-radius: 5px;
          background-color: #8950FC;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: bold;
          margin-left: 5px;
          font-size: 11px;
        }
      }

      .descrpition-project{
        margin-top: 15px;
      }

      .date-time-project{
        margin-top: 10px;
        padding: 0px;

        ion-col{
          padding-left: 0px;
        }

        .title-date-time{
          ion-col{
            ion-text{
              font-size: 13px;
              font-weight:bold;
            }
          }
        }
    
        .date-time-start{
          display: inline;
          background-color: #E7F3E8;
          color: #14AA24;
          padding: 8px 10px;
          font-weight: bold;
          font-size: 15px;
          border-radius: 6px;
        }
    
        .date-time-end{
          display: inline;
          background-color: #F1E5E5;
          color: #DD5A47;
          padding: 8px 10px;
          font-weight: bold;
          font-size: 15px;
          border-radius: 6px;
        }
      }
    }
  }
}
