<ion-card>
  <div class="content-one">
    <div class="avatar">
      <ion-thumbnail>
        <img src="https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/project-logos/3.png" alt="">
      </ion-thumbnail>
    </div>
    <div class="content">
      <ion-label color="dark">Nexa - Next generation SAAS</ion-label>
      
      <div class="more-information">
        <p>
          <i class="far fa-envelope"></i>
          hungnguyen99.nvh@gmail.com
        </p>
        <p>
          <i class="fas fa-lock"></i>
          PR Manager
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          Ha Noi
        </p>
      </div>
      
      <div class="btn-action">
        <div class="btn-report">
          <span>reports</span>
        </div>
        <div class="btn-new-task">
          <span>new task</span>
        </div>
      </div>
      
      <div class="descrpition-project">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat deleniti suscipit praesentium blanditiis architecto maxime quibusdam quod, reprehenderit voluptate cumque consequuntur, cupiditate ab corporis voluptatibus inventore laborum? Ea, voluptatum ullam?
      </div>
      
      <ion-grid class="date-time-project">
        <ion-row class="title-date-time" >
          <ion-col>
            <ion-text color="dark">
              Start Date:
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text color="dark">
              Due Date:
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="date-time-start">
              06/05/2020
            </div>
          </ion-col>
          <ion-col>
            <div class="date-time-end">
              06/06/2020
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="content-two">

  </div>
</ion-card>
