<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon name="close" color="danger" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ edit == true ? 'Sửa ': 'Thêm ' }} thông tin đơn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-appication-form" [ngSwitch]="loaiDon">
    <ion-list lines="full" mode="md" *ngSwitchCase="1">
      <ion-list-header color="light">
        Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>
      
      <ion-list-header color="light">
        Ca chọn
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caChon">
        <ion-item *ngFor="let item of caChon">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header color="light">
        Ca <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.ca">
        <ion-item *ngFor="let item of ca">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-list-header color="light">
        Lý do <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.lyDo" value="1">
        <ion-item *ngFor="let item of lyDoNghiPhep">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-list-header color="light">Hưởng lương</ion-list-header>
      <ion-item>
        <ion-label>{{ duLieuDon.huongLuong ? 'Có' : 'Không' }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="2">
      <ion-list-header color="light">
        Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">Giờ bắt đầu</ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.batDau" displayFormat="HH:mm" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">Giờ kết thúc</ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ketThuc" displayFormat="HH:mm" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>

      <ion-list-header color="light">
        Ca chọn
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caChon" value="hc">
        <ion-item *ngFor="let item of caChon">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-list-header color="light">
        Lý do <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.lyDo" value="1">
        <ion-item *ngFor="let item of lyDoVangMat">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="3">
      <ion-list-header color="light">
        Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>
      
      <ion-list-header color="light">
        Ca tăng <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caTang">
        <ng-container *ngFor="let item of caChon; let viTri = index">
          <ion-item *ngIf="viTri != 0">
            <ion-label>{{ item.ten }}</ion-label>
            <ion-radio slot="start" [value]="item.ma"></ion-radio>
          </ion-item>
        </ng-container>
      </ion-radio-group>
    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="4">
      <ion-list-header color="light">
        Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>

      <ion-list-header color="light">
        Ca chọn
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caChon">
        <ion-item *ngFor="let item of caChon">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header color="light">
        Giờ bắt đầu <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.batDau" displayFormat="HH:mm" value="17:00" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Giờ kết thúc <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ketThuc" displayFormat="HH:mm" value="19:00" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header>Ghi chú</ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="duLieuDon.ghiChu" type="text" placeholder="Nội dung"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="5">
      <ng-container *ngIf="edit">
        <ion-list-header color="light">
          Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
        </ion-list-header>
        <ion-item>
          <ion-datetime [(ngModel)]="duLieuDon.ngay" class="high-light-disabled" [disabled]="edit" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="!edit">
        <ion-list-header color="light">
          Từ ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
        </ion-list-header>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
        </ion-item>
  
        <ion-list-header color="light">
          Đến ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
        </ion-list-header>
        <ion-item>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
        </ion-item>
      </ng-container>

      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>

      <ion-list-header color="light">
        Ca chọn
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caChon" >
        <ion-item *ngFor="let item of caChon">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header color="light">
        Địa điểm công tác <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-input [(ngModel)]="duLieuDon.diaDiem" type="text" placeholder="Nội dung"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="6">
      <ion-list-header color="light">
        Từ ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.tuNgay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Đến ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.denNgay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Đi muộn <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.diMuon" displayFormat="HH:mm" value="08:00" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Về sớm <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.veSom" displayFormat="HH:mm" value="17:00" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>

      <ion-list-header color="light">
        Lý do làm chế độ <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.lyDo" >
        <ion-item *ngFor="let item of lyDoCheDo">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="7">
      <ion-list-header color="light">
        Kiểu đổi ca <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.kieuDoi">
        <ion-item *ngFor="let item of kieuDoiCa">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header color="light">
        Ngày cần đổi <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngayCanDoi" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Ca cần đổi
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>
      
      <ng-container *ngIf="true">
        <ion-list-header color="light">
          Người đổi
        </ion-list-header>
        <ion-item button="true" details="none">
          <ion-label color="placeholder">Chọn người cần đổi</ion-label>
        </ion-item>
  
        <ion-list-header color="light">
          Ngày đổi <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
        </ion-list-header>
        <ion-item>
          <ion-datetime [(ngModel)]="duLieuDon.ngayDoi" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
        </ion-item>
      </ng-container>

      <ion-list-header color="light">
        Ca muốn làm <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caLam" value="cs">
        <ng-container *ngFor="let item of caChon; let vitri = index">
          <ion-item [disabled]="true" class="high-light-disabled" *ngIf="vitri != 0">
            <ion-label>{{ item.ten }}</ion-label>
            <ion-radio slot="start" [value]="item.ma" ></ion-radio>
          </ion-item>
        </ng-container>
      </ion-radio-group>
    </ion-list>

    <ion-list lines="full" mode="md" *ngSwitchCase="8">
      <ion-list-header color="light">
        Ngày <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.ngay" displayFormat="DD/MM/YYYY" placeholder="Chọn ngày" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Giờ
      </ion-list-header>
      <ion-item>
        <ion-datetime [(ngModel)]="duLieuDon.gio" displayFormat="HH:mm" value="08:00" cancelText="Hủy" doneText="Đồng ý"></ion-datetime>
      </ion-item>
      
      <ion-list-header color="light">
        Ca được phân
      </ion-list-header>
      <ion-item>
        <ion-label>Hành chính</ion-label>
      </ion-item>

      <ion-list-header color="light">
        Ca chọn
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.caChon">
        <ion-item *ngFor="let item of caChon">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
      <ion-list-header color="light">
        Hoạt động <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.hoatDong" >
        <ion-item *ngFor="let item of hoatDong">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-list-header color="light">
        Lý do giải trình <ion-icon name="medical" color="danger" class="icon-required"></ion-icon>
      </ion-list-header>
      <ion-radio-group [(ngModel)]="duLieuDon.lyDo">
        <ion-item *ngFor="let item of lyDoGiaiTrinh">
          <ion-label>{{ item.ten }}</ion-label>
          <ion-radio slot="start" [value]="item.ma"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

  </div>
</ion-content>

<ion-footer mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button color="tealgreen" expand="block" (click)="onSubmit()">
      Xác nhận
    </ion-button>
  </ion-toolbar>
</ion-footer>