ion-header{
  ion-title{
    font-family: "Open Sans SemiBold";
  }
}

.information-days{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid #eec9a9;
  background-color: #F7E3C4;
  ion-label{
    font-family: "Open Sans Bold";
    font-size: 15px;
    margin-left: 10px;
  }
  ion-button{
    font-family: "Open Sans SemiBold";
    margin: 5px;
    text-transform: initial;
    --box-shadow: none;
  }
}

.menu-application-form{
  ion-grid{
    padding: 5px 0px;
  }
  .component-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    ion-avatar{
      max-width: 50px;
      max-height: 50px;
      min-width: 50px;
      min-height: 50px;
    }
  
    ion-label{
      margin-top: 7px;
      font-size: 15px;
    }
  }
}

.application-form-request{
  margin: 10px;
  .title-action{
    padding-bottom: 5px;
    border-bottom: 1px solid #dcdcdc;
  }
  ion-label{
    font-family: "Open Sans SemiBold";
    font-size: 17px;
    display: flex;
    align-items: center;
    ion-icon{
      margin-left: 3px;
    }
  }
}

.not-application-form{
  font-style: italic;
  text-align: center;
  width: 100%;
}

