<ion-content>
  <ion-card class="all_card">
    <ion-card-header style="padding: 0px;">
  
      <ion-grid>
        <ion-row style="padding-right: 0px;display: flex;align-items: center;">
          <ion-col size="2" >
            <!-- <ion-icon name="briefcase" class="center" style="font-size: 3em;color: rgb(0, 136, 255);"></ion-icon> -->
            <div>
              <ion-avatar>
                <img src="./../../../assets/imgs/avatar.png" alt="">
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col>
            <ion-grid class="col_grid">
              <ion-row style="display: flex;align-items: center;">
                <ion-col style="padding-left: 0px;">
                  <ion-card-title  class="text_size_NTT">
                    <b>
                      Nexa - Next generation SAA
                    </b>
                  </ion-card-title>
                </ion-col>
                <ion-col size="1">
                  <ion-icon name="checkmark-circle"  style="font-size: 20px;color: rgb(77, 230, 46);"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row style="padding-top: 0px;">
                <ion-card-subtitle class="dg_icon" >
                  <ion-icon name="mail"></ion-icon>
                  <ion-text style="text-transform: initial;"> abc@gmail.com</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-card-subtitle>
                <ion-card-subtitle class="dg_icon" >
                  <ion-icon name="lock-closed"></ion-icon>
                  <ion-text style="text-transform: initial;">Manager</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-card-subtitle>  
                <ion-card-subtitle class="dg_icon" >
                  <ion-icon name="location"></ion-icon>
                  <ion-text style="text-transform: initial;">Hà lội</ion-text>&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-card-subtitle>
              </ion-row>
              <ion-row>
                
                  <div style="background-color: rgb(55, 179, 61);height: 2em; display: flex;align-items: center;border-radius: 0.5em;">
                    <ion-text style="padding: 0px 10px;color: white;">REPORT</ion-text>
                  </div>
                
                &nbsp;&nbsp;
                
                  <div style="background-color: rgb(247, 0, 226);height: 2em; display: flex;align-items: center;border-radius: 0.5em;">
                    <ion-text style="padding: 0px 10px;color: white;">NEW TASK</ion-text>
                  </div>
                
              </ion-row>
              <!-- <ion-row>
                <ion-card-subtitle>
                  <ion-icon name="location"></ion-icon>
                  Ekgis&nbsp;&nbsp;&nbsp;&nbsp;
                </ion-card-subtitle>
              </ion-row> -->
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
        
    </ion-card-header>
  
    <ion-card-content style="text-align: left;padding-bottom: 0px;padding-right: 0px;">
      <ion-grid>
        <ion-row style="padding-right: 0px;">
          <!-- <ion-col size="2" >
          </ion-col> -->
  
          <ion-col style="font-size: 16px;">
            
  
            <!-- <ion-row style="display: flex;align-items: center;">
              <ion-text style="color: black;">Quản trị : </ion-text>&nbsp;
              <ion-grid class="col_grid" style="text-align: right;">
              
                <ion-col size="2" style="width: 100%;" class="col_list_avt">
                    <div style="margin-left: -1em;">
                      <ion-avatar (click)="Ten($event)">
                        <img src="../../assets//imgs/avatar.png" alt="">
                      </ion-avatar>
                    </div>
                    <div style="margin-left: -1em;display: flex;align-items: center;" class="circle">
                    <p style="margin-left: 0.9em;">3+</p>
                    </div>
                  </ion-col> 
              </ion-grid>
            </ion-row> -->
  
            <ion-row>
              <ion-text ><ion-text style="color: black;">I distinguish three main text objectives could be merely to inform people.
                A second could be persuade people. You want people to bay objective.</ion-text></ion-text>
            </ion-row>
            
            <ion-row>
              <ion-col style="padding-left: 0px;">
                <ion-row>
                  <ion-text style="color: black;">Bắt đầu : </ion-text>
                </ion-row>
  
                <ion-row>
                  <ion-button fill="outline">
                    12/10/2020
                  </ion-button>
                </ion-row>
  
              </ion-col>
              
              <ion-col style="padding-left: 0px;">
                <ion-row>
                  <ion-text style="color: black;">Hạn : </ion-text>
                </ion-row>
                <ion-row>
                  <ion-button fill="outline">
                    12/12/2020
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="padding-left: 0px;">
  
                <ion-row>
                  <ion-text style="color: black;">Tiến độ : 20/40</ion-text>
                </ion-row>
  
                <ion-row>
                  <div style="background-color: rgb(112, 112, 112);height: 0.5em;width: 100%;border-radius: 1.25em;">
                    <div style="background-color: rgb(35, 212, 44);height: 0.5em;width: 50%;border-radius: 1.25em;">
                    </div>
                  </div>
                </ion-row>
  
                <ion-row>
                  50%
                </ion-row>
  
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  
    <ion-grid style="border-top: solid 2px rgb(180, 180, 180);">
      <ion-row class="icon_ft1">
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="4">
              <ion-icon name="leaf"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                Earnings
              </ion-row>
              <ion-row>
                $249,500
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="4">
              <ion-icon name="server"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                Expenses
              </ion-row>
              <ion-row>
                $249,500
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="4">
              <ion-icon name="git-commit"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                Net
              </ion-row>
              <ion-row>
                $249,500
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="4">
              <ion-icon name="newspaper"></ion-icon>
            </ion-col>
            <ion-col size="8">
              <ion-row>
                73 Tasks
              </ion-row>
              <ion-row>
                <ion-text style="color: blue;">View</ion-text>
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="3">
              <ion-icon name="newspaper"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-row>
                648 Comments
              </ion-row>
              <ion-row>
                <ion-text style="color: blue;">View</ion-text>
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="3">
              <ion-icon name="newspaper"></ion-icon>
            </ion-col>
            <ion-col size="9">
              <ion-row>
                648 Comments
              </ion-row>
              <ion-row>
                <ion-text style="color: blue;">View</ion-text>
              </ion-row>
            </ion-col>
        </ion-row>
        </div>
        
        <div>
          <ion-row style="display: flex;align-items: center;">
            <ion-col size="2">
              <ion-icon name="people"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-grid style="padding-left: 0px;text-align: right;">
              
                  <ion-col size="2" style="width: 100%;" class="col_list_avt1">
                      <div>
                        <!-- (click)="Ten($event)" -->
                        <ion-avatar>
                          <img src="./../../../assets/imgs/avatar.png" alt="">
                        </ion-avatar>
                      </div>
                      <div style="margin-left: -2.2em;">
                        <ion-avatar>
                          <img src="./../../../assets/imgs/avatar.png" alt="">
                        </ion-avatar>
                      </div>
                      <div style="margin-left: -2.2em;">
                        <ion-avatar>
                          <img src="./../../../assets/imgs/avatar.png" alt="">
                        </ion-avatar>
                      </div>
                      <ion-avatar style="margin-left: -2.2em;margin-top: 0.5em;" class="circle">
                      <p style="margin-top: 0.5em;margin-right: 0.5em;">12+</p>
                      </ion-avatar>
                    </ion-col> 
                </ion-grid>
              </ion-row>

            </ion-col>
        </ion-row>
        </div>
        
        
      </ion-row>
      
      
  
    </ion-grid>
      <!-- <ion-grid >
          <ion-col size="7">
            <ion-row>
              <ion-col style="font-size: 1.1em;display: flex;align-items: center;">
                <ion-icon name="calendar"></ion-icon>&nbsp;
                <ion-text> Ngày tạo : 23/08/2020</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        
      </ion-grid> -->
  
    
  
  </ion-card>
</ion-content>