#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.all_card{
  border-radius: 10px;
  margin : 10px 0px; 
}
.center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.col_grid{
  ion-row{
      padding:5px;
  }
}

.text_size_NTT{
  color: black;
  margin-bottom: 0px;
}
.col_list_avt{
  display: flex;
  div{
      ion-avatar{
          height: 2.5em;
          width: 2.5em;
          border: solid 2px rgb(255, 255, 255)
      }
      ion-text{
          margin-top: 0.7em;
      }
  }
}

.col_list_avt1{
  display: flex;
  div{
      ion-avatar{
          height: 2.5em;
          width: 2.5em;
          border: solid 2px rgb(255, 255, 255)
      }
  }
}

.circle{
  min-width: 2.5em;
  min-height: 2.5em;
  max-width: 2.5em;
  max-height: 2.5em;
  background: rgb(223, 222, 222);
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  border-radius: 1.25em;
}

.dg_icon{
  display: flex;
  align-items: center;
}
.icon_ft{
  div{
    margin-right: 20px;
    padding:0.5em 0em;
    display: flex;
    align-items: center;
  }
}

.icon_ft1{
  margin-left: 10px;
  div{
    margin-right: 20px;
    padding:0.5em 0em;
    display: flex;
    align-items: center;
    ion-row{
      ion-col{
        ion-icon{
          font-size: 2em;
        }
      }
    }
  }
}
